*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: helvetica;
    
}

/* phần menu */

.header{
    padding-bottom: 50px;
    width: 1365px;
    margin: auto;
}
.menu{
    z-index: 1;
    position: fixed;
    background-color: #111111;
    width: 1365px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.menutrai{
    display: flex;
    height: 50px;
    width: 800px;
}
.menutrai img{
    height: 50px;
}
.textmenu{
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    text-transform: capitalize;
    padding-left: 20px;
    font-weight: 700;
    position: relative;
    display: block;
    
}
.more{
    background-color: #111111;
    position: absolute;
    width: 250px;
    left: 0;
    font-size: 12px;
    display: none;
    top: 50px;
    z-index: 1;
   
}
.textmenu .more li a{
    color: white;
    padding-left: 20px;
    font-weight: 700;
    transform: scale(1);
   
}
.moremini:hover{
   background-color: #eb2222;
    transform: scale(1.1);
    box-shadow:#6b0a0a 0px 3px 3px 3px ;
}
.menutrai .textmenu a{
    color: #777777;
    text-decoration: none;
}
.textmenu:hover .more{
   display: block;
   
}


.menuphai{
    display: flex;
    width: 495px;
    height: 50px;
}
.menuphai li{
    line-height: 50px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
}
.textmenudown{
    width: 150px;
    height: 50px;
    padding-top: 5px;
    padding-right: 30px;
    text-align: center;

}
.down{
    height: 40px;
    width: 200px;
    line-height: 40px;
    border-radius: 10px;
    background-color: #eb2222	;
  padding-right: 20px;
  position: relative;
  transform: scale(1);
  color: whitesmoke;
}
.down:hover #muiten{
    transform:  rotate(180deg);
    transition: 0.3s;
    padding-left: 10px;
}
.down:hover{
    transform: scale(1.1);
}
.timkiem{
    width: 200px;
    text-align: right;
    margin-right: 0%;
}
.timmini{
    width: 250px;
    padding-right: 60px;
}
.timmini:hover #nhap{
    width: 200px;
   opacity: 1;
}
.timmini{
    display: flex;
}
#nhap{
    font-size: 13px;
    width: 0px;
    opacity: 0;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
    transition: 0.7s;
    border-bottom:slategrey solid 2px ;
    border-left: slategrey solid 2px;
}

#search{
    font-size: 24px;
    padding-left: 10px;
    color: whitesmoke;
    padding-top: 10px;
}
.search{
    padding-top: 5px;
}
.textmenu:hover a{
    color: white;
}
.textmenu::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background-color: #BB0000;
    box-shadow: white 1px 1px 1px;
    height: 0px;
    width: 100%;
    transition: 0.6s;
}
.textmenu:hover::after{
   height: 2.5px;
  
}
.downmini {
    position: absolute;
    top: 50px;
    background-color:black;
    
    width: 200px;
    display: none;
    border-radius: 5px;

}
.downmini .textdown a{
    text-decoration: none;
    color: whitesmoke;
}
.textdown a{
    padding-right: 20px;
    transform: scale(1);
    border-radius: 5px;
    transition: 0.2s;
}
.textdown:hover{
    transform: scale(1.1);
    color: whitesmoke;
    box-shadow:  #6b0a0a 0px 3px 3px 3px;
    background-color: #eb2222;

}
.textmenudown:hover .downmini{
   display: block;
}



/* phần nhân vật */
.details{
    width: 1365px;
    height: 550px;
    margin: auto;
    
}

.slide img{
    
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    position: relative;
    object-fit: cover;
    
 }
.slide
 {
     position: relative;
    transition: 0.7s;
    width: 1000px;
    margin: auto;
    height: 500px;
    padding-top: 20px;
 }
 .carousel-item h1{
     font-size: 35px;
     font-weight:800 ;
     text-transform: capitalize;
     position: absolute;
     bottom: 40px;
     left: 170px;
     color: whitesmoke;
     width: 700px;
     text-align: center;
 }

/* phần lối chơi */
.gameplaycha{
    width: 1365px;
    margin: auto;
}
.gameplaycon1{
    background-color:	#990000;
    width: 100%;
    height: 960px;
}
.gameplay1{
    width: 100%;
    display: flex;
}
.gameplay1left{
    max-width: 700px;
    overflow: hidden;
}
.gameplay1left img{
    transition: all 0.5s ease-in-out;
    margin-top: 20px;
    width: 700px;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}
.gameplay1left:hover img{
    transform: scale(1.33);
}
.gameplay1right_text1{
margin-top: 100px;
font-size: 45px;
font-weight: 1000;
margin-left: 135px;
color: white;

}
.gameplay1:hover .gameplay1right_text1{
    animation: chu1 1.4s linear 0s 1 forwards;

}
@keyframes chu1{
    0%{
        opacity: 0;
    }
    50%{
        color: yellow;
    }
    100%{
        opacity: 1;
        color: black;
    }
}

.gameplay1right_text2{
    color: white;
    width: 450px;
    margin-left: 135px;
    margin-top: 10px;
    font-size: 18px;
}
.gameplay2{
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-top: 135px;
}
.gameplay2right{
    overflow: hidden;
    max-width: 800px;
}
.gameplay2right img{
    transition: all 0.5s ease-in-out;
    clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%);
    width: 800px;
    object-fit: cover;
}
.gameplay2right:hover img{
    transform: scale(1.44);
}
.gameplay2left_text1{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 1000;
    width: 550px;
    color: white;
    margin-left: 100px;
    margin-top: 70px;
}
.gameplay2:hover .gameplay2left_text1{
    animation: chu2 1.4s linear 0s 1 forwards;
}
@keyframes chu2{
    0%{
        opacity: 0;
    }
    50%{
        color: yellow;
    }
    100%{
        opacity: 1;
        color: black;
        animation-fill-mode: forwards;
    }

}
.gameplay2left_text2{
    color:white;
    width: 420px;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 18px;
}
.gameplaycon2{
    width: 100%;
    height: 900px;
    background-color:#fff000;
}
.gameplaycon2_text1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
   padding-top: 30px;
   color: #320853;
   padding-bottom: 20px;
   animation: textcon2 4s linear 0s 1;
}

.gameplaycon2_text2{
    width: 1220px;
    text-align: center;
    margin-left: 80px;
    color: black;
    font-weight: 00;
    font-size: 18px;
}
.video{
    width: 1100px;
   margin-left: 140px;
   margin-top:15px;
}
.gameplaycon2_2{
    width: 100%;
    height: 800px;
    background-color:#fff000;
}
.gameplay1left_1{
    max-width: 800px;
    overflow: hidden;
}
.gameplay1left_1 img{
    transition: all 0.5s ease-in-out;
    margin-top: 20px;
    width: 800px;
    clip-path: polygon(20% 0, 87% 11%, 100% 100%, 0 100%, 0 24%);
}
.gameplay1left_1:hover img{
    transform: scale(1.1);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 0);
}
.gameplay1right_text3{
    color: white;
    width: 490px;
    margin-left: 135px;
    margin-top: 10px;
    font-size: 18px;
}
.gameplay2left_text3{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 1000;
    width: 550px;
    color: white;
    margin-left: 100px;
    margin-top: 30px;

}
.gameplay2_2{
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.gameplay2_2:hover .gameplay2left_text3{
    animation: chu3 1.4s linear 0s 1 forwards;
}
@keyframes chu3{
    0%{
        opacity: 0;
    }
    50%{
        color: yellow;
    }
    100%{
        
        opacity: 1;
        color: black;
        animation-fill-mode: forwards;
    }

}
.gameplay2right_2{
    overflow: hidden;
    max-width: 800px;
}
.gameplay2right_2 img{
    transition: all 0.5s ease-in-out;
    clip-path: polygon(43% 0, 100% 30%, 100% 100%, 0 100%);
    width: 800px;
    object-fit: cover;
}
.gameplay2right_2:hover img{
    transform: scale(1.1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.carousel-item  .textbando{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 1000;
    position: absolute;
    bottom: 0;
    left: 42%;
}
.carousel-item:hover .textbando{
    color: black;
    animation: chu4 0.5s linear 0s 1 forwards ;
    transition: 0.3s;
  

}
.carousel-item img{
    position: relative;
    overflow: hidden;
    transition: 0.7s;
}
.carousel-item:hover img{
    transform: scale(1.1);
}
@keyframes chu4{
    0%{
       bottom: 0;
    
    }
    100%{
        bottom: 10%;
    }
}

/* phần giới thiêu nhân vật */
.ngang{
    height: 40px;
    max-width: 1365px;
    margin: auto;
    background-color: white;
   
}
.ngang img{
    width: 50px;
    height: 40px;
    margin: auto;
    position: absolute;
    animation: gif 10s linear 0s infinite ;
    object-fit: cover;
}
@keyframes gif{
   0%{
       margin-left: 0px;
   }
   
   100%{
       margin-left: 1315px;
   }
}
/*phần hệ thống nhân vật*/
.detailsnv{
    width: 1365px;
    height: 700px;
    margin: auto;
    position: relative;
}
.detailsnvmini{
   width: 1365px;
   height: 700x;
   display: flex;
   justify-content: space-evenly;
}
.detailsnvmini li{
   width: 25%;
   height: 100%;
}

.detailsnvmini li img{
   width: 100%;
   height: 300px;
   z-index: 2;
   
}
.nvleft1 li img{
   width: 100%;
   height: 100px;
   transform: scale(1);
   transition: 0.3s;
   object-fit: cover;
}
.nvleft1 li:hover img{
   transform: scale(1.1);
   box-shadow: black 2px 2px 2px 2px;
}
.nvleft1 li{
   width: 150px;
   padding-left: 40px;
   padding-top: 20px;
   
}
.nvleft1{
   display: flex;
}
.slogan{
   position: absolute;
   bottom: 0;
   color: black;
   font-style: italic;
   width: 25%;
   text-align: center;
   text-transform: capitalize;
   font-size: 25px;
   font-weight: 700;
}
.detailsnvmini li:hover .slogan{
   color: red;
}
.detailsnvmini .group1{
   background-color:silver;
   height: 700px;
}
.detailsnvmini .group2{
   background-color:goldenrod;
   height: 700px;
}
.detailsnvmini .group3{
   background-color:#008B45;
   height: 700px;
}
.detailsnvmini .group4{
   background-color:#990000;
   height: 700px;
}

/* phần cuối */
.detailscuoi{
    width: 1365px;
    margin: auto;
    height: 300px;
    background-color: #2a2a2a;
}
.cuoitrai{
    width: 650px;
    height: 300px;
}
.detailscuoimini{
    display: flex;
}
.cuoitraimini1{
    display: flex;
    padding-left: 30px;
    padding-top: 30px;
}
.fab{
    font-size: 30px;
    padding-right: 20px;
    color: silver;
}
.fab:hover{
    color: white;
}
.cuoitraimini2{
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
}
.textduoi1 li a{
    padding-right: 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: silver;
}
.textduoi1 li:hover a{
    color: white;
    text-decoration: none;
}
.textduoi2{
    font-size: 12px;
    width: 650px;
    padding-left: 30px;
    padding-top: 20px;
    color: silver;
}
.cuoiphai{
    width: 765px;
    height: 300px;
 
}
#up{
    font-size: 40px;
    color: silver;
    padding-left: 450px;

}
.cuoiphai li.fas{
    align-items: right;
    text-align: right;
    justify-content: right;
}
.map{
    padding-left: 350px;
    padding-top: 20px;
    
}
.textcuoicung{
    padding-top: 20px;
    width: 1365px;

    position: relative;
}
.textcuoicungmini{
    display: flex;
    position: absolute;
    left: 25%;
}
#end{
    font-size: 30px;
    padding-right: 20px;
    color: silver;
}

/* Responsive IPAD AIR */
@media only screen and (max-width: 820px)

{
    /* phần menu */

.header{
    padding-bottom: 20px;
    width: 820px;
    margin: auto;
}
.menu{
    z-index: 1;
    position: fixed;
    background-color: #111111;
    width: 820px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.menutrai{
    display: flex;
    height: 30px;
    width: 500px;
}
.menutrai img{
    height: 30px;
}
.textmenu{
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 9px;
    text-transform: capitalize;
    padding-left: 10px;
    font-weight: 500;
    position: relative;
    display: block;
    
}
.more{
    background-color: #111111;
    position: absolute;
    width: 150px;
    left: 0;
    font-size: 10px;
    display: none;
    top: 50px;
    z-index: 1;
   
}
.textmenu .more li a{
    color: white;
    padding-left: 10px;
    font-weight: 500;
    transform: scale(1);
   
}
.moremini:hover{
   background-color: #eb2222;
    transform: scale(1.1);
    box-shadow:#6b0a0a 0px 3px 3px 3px ;
}
.menutrai .textmenu a{
    color: #777777;
    text-decoration: none;
}
.textmenu:hover .more{
   display: block;
   
}


.menuphai{
    display: flex;
    width: 320px;
    height: 30px;
}
.menuphai li{
    line-height: 30px;
    font-size: 9px;
    text-transform: capitalize;
    font-weight: 700;
}
.textmenudown{
    width: 100px;
    height: 30px;
    padding-top: 5px;
    padding-right: 20px;
    text-align: center;
    margin-left: 40px;

}
.down{
    height: 20px;
    width: 100px;
    line-height: 20px;
    border-radius: 10px;
    background-color: #eb2222	;
  padding-right: 20px;
  position: relative;
  transform: scale(1);
  color: whitesmoke;
}
.down:hover #muiten{
    transform:  rotate(180deg);
    transition: 0.3s;
    padding-left: 5px;
}
.down:hover{
    transform: scale(1.1);
}
.tim{
    width: 150px;
    padding-right: 60px;
}
.timkiem{
    width: 150px;
    text-align: right;
    margin-right: 0%;
}
.timmini{
    width: 150px;
    padding-right: 50px;
}
.timmini:hover #nhap{
    width: 150px;
   opacity: 1;
}
.timmini{
    display: flex;
}
#nhap{
    font-size: 9px;
    width: 0px;
    opacity: 0;
    height: 20px;
    padding-left: 10px;
    border-radius: 5px;
    transition: 0.7s;
    border-bottom:slategrey solid 2px ;
    border-left: slategrey solid 2px;
}

#search{
    font-size: 15px;
    padding-left: 10px;
    color: whitesmoke;
    padding-top: 3px;
}
.search{
    padding-top: 3px;
}
.textmenu:hover a{
    color: white;
}
.textmenu::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background-color: #BB0000;
    box-shadow: white 1px 1px 1px;
    height: 0px;
    width: 100%;
    transition: 0.6s;
}
.textmenu:hover::after{
   height: 2.5px;
  
}
.downmini {
    position: absolute;
    top: 30px;
    background-color:black;
    width: 100px;
    display: none;
    border-radius: 5px;

}
.downmini .textdown a{
    text-decoration: none;
    color: whitesmoke;
}
.textdown a{
    padding-right: 20px;
    transform: scale(1);
    border-radius: 5px;
    transition: 0.2s;
}
.textdown:hover{
    transform: scale(1.1);
    color: whitesmoke;
    box-shadow:  #6b0a0a 0px 3px 3px 3px;
    background-color: #eb2222;

}
.textmenudown:hover .downmini{
   display: block;
}


/* phần nhân vật */
.details{
    width: 820px;
    height: 500px;
    margin: auto;
    
}

.slide img{
    
    width: 800px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    object-fit: cover;
    
 }
.slide
 {
     position: relative;
    transition: 0.7s;
    width: 800px;
    margin: auto;
    height: 500px;
    padding-top: 20px;
 }
 .carousel-item h1{
     font-size: 20px;
     font-weight:800 ;
     text-transform: capitalize;
     position: absolute;
     bottom: 30px;
     left: 150px;
     color: whitesmoke;
     width: 500px;
     text-align: center;
 }

/* phần lối chơi */
.gameplaycha{
    width: 820px;
    margin: auto;
}
.gameplaycon1{
    background-color:	#990000;
    width: 100%;
    height: 605px;
}
.gameplay1{
    width: 100%;
    display: flex;
}
.gameplay1left{
    max-width: 450px;
    overflow: hidden;
}
.gameplay1left img{
    transition: all 0.5s ease-in-out;
    margin-top: 20px;
    width: 450px;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}
.gameplay1left:hover img{
    transform: scale(1.4);
}
.gameplay1right_text1{
margin-top: 50px;
font-size: 25px;
font-weight: 1000;
margin-left: 50px;
color: white;

}
.gameplay1:hover .gameplay1right_text1{
    animation: chu1 1.4s linear 0s 1 forwards;

}
@keyframes chu1{
    0%{
        opacity: 0;
    }
    50%{
        color: yellow;
    }
    100%{
        opacity: 1;
        color: black;
    }
}

.gameplay1right_text2{
    color: white;
    width: 290px;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 13px;
}
.gameplay2{
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-top: 100px;
}
.gameplay2right{
    overflow: hidden;
    max-width: 450px;
}
.gameplay2right img{
    transition: all 0.5s ease-in-out;
    clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%);
    width: 450px;
    object-fit: cover;
}
.gameplay2right:hover img{
    transform: scale(1.44);
}
.gameplay2left_text1{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 1000;
    width: 200px;
    color: white;
    margin-left: 50px;
    margin-top: 40px;
}
.gameplay2:hover .gameplay2left_text1{
    animation: chu2 1.4s linear 0s 1 forwards;
}
@keyframes chu2{
    0%{
        opacity: 0;
    }
    50%{
        color: yellow;
    }
    100%{
        opacity: 1;
        color: black;
        animation-fill-mode: forwards;
    }

}
.gameplay2left_text2{
    color:white;
    width: 300px;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 13px;
}
.gameplaycon2{
    width: 100%;
    height: 650px;
    background-color:#fff000;
}
.gameplaycon2_text1{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
   padding-top: 30px;
   color: #320853;
   padding-bottom: 10px;
   animation: textcon2 4s linear 0s 1;
}

.gameplaycon2_text2{
    width: 650px;
    margin-left: 90px;
    color: black;
    font-weight: 00;
    font-size: 13px;
}
.video{
    width: 820px;
   margin-left: 0px;
   margin-top:15px;
}
#video{
    height: 430px;
}
.gameplaycon2_2{
    width: 100%;
    height: 600px;
    background-color:#fff000;
}
.gameplay1left_1{
    max-width: 450px;
    overflow: hidden;
}
.gameplay1left_1 img{
    transition: all 0.5s ease-in-out;
    margin-top: 10px;
    width: 450px;
    clip-path: polygon(20% 0, 87% 11%, 100% 100%, 0 100%, 0 24%);
}
.gameplay1left_1:hover img{
    transform: scale(1.1);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 0);
}
.gameplay1right_text3{
    color: white;
    width: 340px;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 13px;
}
.gameplay2left_text3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 1000;
    width: 330px;
    color: white;
    margin-left: 50px;
    margin-top: 30px;

}
.gameplay2_2{
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-top: 89px;
}
.gameplay2_2:hover .gameplay2left_text3{
    animation: chu3 1.4s linear 0s 1 forwards;
}
@keyframes chu3{
    0%{
        opacity: 0;
    }
    50%{
        color: yellow;
    }
    100%{
        
        opacity: 1;
        color: black;
        animation-fill-mode: forwards;
    }

}
.gameplay2right_2{
    overflow: hidden;
    max-width: 450px;
}
.gameplay2right_2 img{
    transition: all 0.5s ease-in-out;
    clip-path: polygon(43% 0, 100% 30%, 100% 100%, 0 100%);
    width: 450px;
    object-fit: cover;
}
.gameplay2right_2:hover img{
    transform: scale(1.1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.carousel-item  .textbando{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 1000;
    position: absolute;
    bottom: 0;
    left: 42%;
}
.carousel-item:hover .textbando{
    color: black;
    animation: chu4 0.5s linear 0s 1 forwards ;
    transition: 0.3s;
  

}
.carousel-item img{
    position: relative;
    overflow: hidden;
    transition: 0.7s;
}
.carousel-item:hover img{
    transform: scale(1.1);
}
@keyframes chu4{
    0%{
       bottom: 0;
    
    }
    100%{
        bottom: 10%;
    }
}

/* phần giới thiêu nhân vật */
.ngang{
    height: 30px;
    max-width: 820px;
    margin: auto;
    background-color: white;
   
}
.ngang img{
    width: 40px;
    height: 30px;
    margin: auto;
    position: absolute;
    animation: gif 10s linear 0s infinite ;
    object-fit: cover;
}
@keyframes gif{
   0%{
       margin-left: 0px;
   }
   
   100%{
       margin-left: 800px;
   }
}
/*phần hệ thống nhân vật*/
.detailsnv{
    width: 820px;
    height: 600px;
    margin: auto;
    position: relative;
}
.detailsnvmini{
   width: 820px;
   height: 600x;
   display: flex;
   justify-content: space-evenly;
}
.detailsnvmini li{
   width: 25%;
   height: 100%;
}

.detailsnvmini li img{
   width: 100%;
   height: 250px;
   z-index: 2;
   
}
.nvleft1 li img{
   width: 80%;
   height: 70px;
   transform: scale(1);
   transition: 0.3s;
   object-fit: cover;
}
.nvleft1 li:hover img{
   transform: scale(1.1);
   box-shadow: black 2px 2px 2px 2px;
}
.nvleft1 li{
   width: 100px;
   padding-left: 00px;
   padding-top: 20px;
   
}
.nvleft1{
    margin-left: 20px;
   display: flex;
}
.slogan{
   position: absolute;
   bottom: 0;
   color: black;
   font-style: italic;
   width: 25%;
   text-align: center;
   text-transform: capitalize;
   font-size: 20px;
   font-weight: 700;
}
.detailsnvmini li:hover .slogan{
   color: red;
}
.detailsnvmini .group1{
   background-color:silver;
   height: 600px;
}
.detailsnvmini .group2{
   background-color:goldenrod;
   height: 600px;
}
.detailsnvmini .group3{
   background-color:#008B45;
   height: 600px;
}
.detailsnvmini .group4{
   background-color:#990000;
   height: 600px;
}

/* phần cuối */

.detailscuoi{
    width: 820px;
    margin: auto;
    height: 200px;
    background-color: #2a2a2a;
}
.cuoitrai{
    width: 500px;
    height: 200px;
}
.detailscuoimini{
    display: flex;
}
.cuoitraimini1{
    display: flex;
    padding-left: 30px;
    padding-top: 20px;
}
.fab{
    font-size: 20px;
    padding-right: 10px;
    color: silver;
}
.fab:hover{
    color: white;
}
.cuoitraimini2{
    display: flex;
    padding-left: 30px;
}
.textduoi1 li a{
    padding-right: 20px;
    text-transform: capitalize;
    font-size: 10px;
    color: silver;
}
.textduoi1 li:hover a{
    color: white;
    text-decoration: none;
}
.textduoi2{
    font-size: 5px;
    width: 500px;
    opacity: 0;
    padding-left: 30px;
    color: silver;
}
.cuoiphai{
    width: 320px;
    height: 200px;
 
}
#up{
    font-size: 20px;
    color: silver;
    padding-left: 170px;

}
.cuoiphai li.fas{
    align-items: right;
    text-align: right;
    justify-content: right;
}
.map{
    padding-top: 10px;
    position: absolute;
    left: 220px;
    
}
#map{
    width: 200px;
    height: 100px;
}
.textcuoicung{
    padding-top: 130px;
    width: 320px;
    position: relative;
}
.textcuoicungmini{
    display: flex;
    position: absolute;
    left: 25%;
}
#end{
    font-size: 20px;
    padding-right: 20px;
    color: silver;
}
}
